:root {
    --max-height: 321px;
    --content-width: 640px;
    --content-aspect-ratio: 0.703;
    --vwidth: calc(min(100vw, max(100vh, var(--max-height)) * var(--content-aspect-ratio)));
    --background: #eeeeee;
    --foreground-filter: blur(5px);
    --foreground-opacity: 0.8;
    --foreground-color: #e4e2e2;
    --notify-bar-color: #b93131;
    --notyfy-bar-content-color: white;
    --notify-bar-width: 50px;
    --spinner-height: 200px;
    --glyph-opacity: 0.05;
    --header-color: #7a1515;
    --grid-border: 4px solid black;
    --btn-background: #b93131;
    --btn-color: white;
    --btn-background-active: white;
    --btn-color-active: #b93131;
    --btn-disabled-color: #D6D6D6;
    --btn-font-family: Bruno Ace Regular;
    --btn-shadow: 0px 4px 4px rgba(133, 116, 116, 0.75);
    --menu-item-scale: 0.66;
}

html {
    background-color: var(--background);
    font-family: Bruno Ace Regular;
    /*Arial, Helvetica, sans-serif; */
}

body {
    scrollbar-width: none;
    /* Firefox issue */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#notify-bar {
    position: absolute;
    top: calc(- var(--notify-bar-width));
    height: var(--notify-bar-width);
    background-color: var(--notify-bar-color);
    opacity: 0;
    display: flex;
    transition: top 1s ease;
    width: 100%;
}

#notify-bar__content {
    margin: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--notyfy-bar-content-color);
    width: calc(100% - var(--notify-bar-width));
}

#notify-bar__button {
    background: none;
    border: none;
    width: var(--notify-bar-width);
    color: var(--notyfy-bar-content-color);
}

#notify-bar__button:hover {
    font-weight: bold;
}

#notify-bar__button:active {
    font-size: 80%;
}

#initial-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1.0;
    pointer-events: auto;
    top: 0;
    left: 0;
    background-color: var(--foreground-color);
    transition: opacity 1s;
}

#foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.0;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity .5s;
}

#inner-foreground {
    position: absolute;
    background-color: var(--foreground-color);
    opacity: 0.8;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: var(--foreground-filter);
}

#holderSVG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: var(--spinner-height);
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: filter .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#glyphs {
    position: absolute;
    left: calc(50vw - var(--vwidth) * 1.5);
    top: calc(max(50vh, var(--max-height) / 2) - var(--vwidth) * 0.5);
    opacity: var(--glyph-opacity);
    transition: opacity 1s ease;
    display: flex;
    z-index: -1;
}

.glyph {
    width: var(--vwidth);
}

#glyph-left {
    margin-right: var(--vwidth);
}

@media (max-aspect-ratio: 5/4) {
    #glyphs {
        opacity: 0;
    }
}

#focus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 55px;
    margin-bottom: 0px;
    color: var(--header-color);
    font-size: 46px;
    font-weight: 800;
    text-align: center;
    font-family: Bruno Ace Regular;
}

.footer {
    font-family: Bruno Ace Regular;
    color: #a3a3a3;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    display: flex;
}

#footer-content {
    align-self: flex-end;
    margin-top: 5px;
}

.footer img {
    filter: grayscale(100%) brightness(3.2);
    transition: filter 0.2s;
    height: 20px;
    vertical-align: bottom;
}

.footer img:hover {
    filter: none;
}

#grid-and-menu {
    margin-top: 20px;
    width: var(--content-width);
    margin-left: 5px;
    margin-right: 5px;
}

.grid-container {
    flex: 1 1 80%;
    margin-bottom: 20px;
    user-select: none;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
}

.grid__row {
    list-style: none;
    display: flex;
}

.grid__item {
    width: 71px;
    height: 71px;
}

.grid__row:nth-child(-3n+6),
.grid__row:last-child {
    border-bottom: var(--grid-border);
}

.grid__row:first-child {
    border-top: var(--grid-border);
}

.grid__item:nth-child(-3n+6),
.grid__item:last-child {
    border-right: var(--grid-border);
}

.grid__item:first-child {
    border-left: var(--grid-border);
}

.grid__input {
    width: 100%;
    height: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    caret-color: transparent;
    cursor: default;
}

.grid__input--invalid {
    color:  red;
    font-weight: 600;
}

.grid__input:focus {
    background-color: #eeeeee;
    outline: 0px;
}

.menu-section {
    --btn-height: 65px;
    --font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 150px;
    height: var(--btn-height);
    color: var(--btn-color);
    background-color: var(--btn-background);
    font-weight: normal;
    font-size: calc(var(--font-size));
    font-family: var(--btn-font-family);
    text-shadow: var(--btn-shadow);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-main-menu {
    border: 2px solid #600303;
    border-radius: 10px;
    transition: 0.1s;
}

.btn-main-menu:not(:first-child) {
    margin-left: 5px;
}

.btn-main-menu--toggled {
    background-color: var(--btn-background-active);
    color: var(--btn-color-active);
}

.btn-square {
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--btn-height);
    pointer-events: auto;
}

#svg-revert {
    width: calc(var(--btn-height) / 2);
    display: block;
    margin: 0 auto;
}

@media screen and (hover: hover) {
    .btn:hover:enabled {
        filter: drop-shadow(var(--btn-shadow));
        font-size: calc(var(--font-size) * 1.05);
    }
    .btn-square:hover:enabled>#svg-revert {
        width: calc(var(--btn-height) * 0.525);
    }
}

.btn-square:active:enabled>#svg-revert {
    width: calc(var(--btn-height) * 0.4);
    /* filter: invert(23%) sepia(78%) saturate(3454%) hue-rotate(349deg) brightness(79%) contrast(77%); */
}

.btn-square:disabled>#svg-revert {
    filter: invert(0%) sepia(0%) saturate(19%) hue-rotate(198deg) brightness(102%) contrast(16%);
}

.btn:active:enabled {
    /* background-color: var(--btn-background-active) !important; */
    font-size: calc(var(--font-size) * 0.8);
    /* color: var(--btn-color-active) !important; */
    text-shadow: none;
}

.btn:disabled {
    background-color: var(--btn-disabled-color);
    text-shadow: none;
    border: 2px solid #666666;
    color: #ADADAD;
}

#gen-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
}

.dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 100%;
    transition: 0s;
}

.dropdown-menu--unfolded {
    top: 0;
    transition: 0.5s;
}

#gen-menu>.menu__item {
    height: calc(var(--btn-height) * var(--menu-item-scale));
    border: 0px;
    border-radius: 3px;
    width: calc(100% - 5px);
    margin-bottom: 2px;
}

@media screen and (max-width: 640px),
(max-height: 910px) {
    .header {
        font-size: calc(0.07 * var(--vwidth));
    }
    .grid__item {
        --size: calc(0.11 * var(--vwidth) - 0.8px);
        width: var(--size);
        height: var(--size);
    }
    #grid-and-menu {
        width: calc(var(--vwidth) - 10px);
    }
    .menu-section {
        --font-size: 13px;
        --btn-height: 42.25px;
    }
    .btn-main-menu {
        margin-left: 3px;
    }
    #grid {
        --grid-border: 3px solid black;
    }
    .menu__item {
        --menu-item-scale: 1;
    }
}

@media screen and (max-width: 370px),
screen and (max-height: 595px) {
    .menu-section {
        --font-size: 10px;
        --btn-height: 31px;
    }
    .btn-main-menu {
        margin-left: 2px;
    }
    #grid {
        --grid-border: 2px solid black;
    }
    .grid__input {
        font-size: 25px;
    }
}

@media screen and (max-height: 715px) {
    #grid-and-menu {
        margin-top: 5px;
    }
    .grid-container {
        margin-bottom: 5px;
    }
    #notify-bar__content {
        margin: 5px;
    }
    #notify-bar {
        height: 30px;
    }
    .header {
        margin-top: 35px;
    }
    .footer {
        margin-top: 5px;
        height: 20px;
    }
}

@media screen and (max-height: 445px) {
    .header {
        margin-top: 5px;
    }
}