html {
    background-color: #e4e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#notify-bar {
    position: absolute;
    top: -50px;
    height: 50px;
    width: 100%;
    background-color: #b93131;
    opacity: 0;
    display: flex;
    transition: top 1s ease;
}

#notify-bar__content {
    margin: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    width: calc(100% - 50px);
}

#notify-bar__button {
    background: none;
    border: none;
    width: 50px;
    color: white;
}

#notify-bar__button:hover {
    font-weight: bold;
}

#notify-bar__button:active {
    font-size: 80%;
}

#initial-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1.0;
    pointer-events: auto;
    top: 0;
    left: 0;
    background-color: #e4e2e2;
    transition: opacity 1s
}

#foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.0;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity .5s;
}

#inner-foreground {
    position: absolute;
    background-color: #e4e2e2;
    opacity: 0.8;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
}

#holderSVG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: filter .5s;
    display: flex;
    flex-direction: column;
}

#focus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-top: 55px;
    margin-bottom: 0px;
    color: #7a1515;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
    font-family: Bruno Ace Regular;
}

.footer {
    font-family: Bruno Ace Regular;
    color: #a3a3a3;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    flex: 1;
    display: flex;
}

#footer-content {
    align-self: flex-end;
    margin-top: 10px;
}

.footer img {
    filter: grayscale(100%) brightness(3.2);
    transition: filter 0.2s;
    height: 20px;
    vertical-align: bottom;
}

.footer img:hover {
    filter: none;
}

#grid-and-menu {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.grid-container {
    flex: 1 1 80%;
    margin-bottom: 20px;
    user-select: none;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
}

.grid__row {
    list-style: none;
    display: flex;
}

.grid__row:nth-child(-3n+6) {
    border-bottom: 3px solid black;
}

.grid__row:first-child {
    border-top: 3px solid black;
}

.grid__row:last-child {
    border-bottom: 3px solid black;
}

.grid__item {
    width: 70px;
    height: 70px;
}

.grid__item:nth-child(-3n+6) {
    border-right: 3px solid black;
}

.grid__item:first-child {
    border-left: 3px solid black;
}

.grid__item:last-child {
    border-right: 3px solid black;
}

.grid__input {
    width: 100%;
    height: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    /* caret-color: transparent; */
    cursor: default;
}

.grid__input:focus {
    outline: 4px dotted #999999;
    outline-offset: -5px;
}

.menu-section {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    height: 80px;
    border: 1px solid #999999;
    border-radius: 5px;
    color: white;
    background-color: #b93131;
    font-weight: 700;
    font-size: 18px;
    font-family: Bruno Ace Regular;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18.5px;
}

.btn:active {
    background-color: #7a1515;
}