<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href={{url_for("get_static", filename="css/style.css")}}>
    <link rel="stylesheet" href={{url_for("get_static", filename="css/normalize.css" )}}>
    <style>
        @font-face {
                    font-family: Bruno Ace Regular;
                    src: url({{url_for("get_static", filename="fonts/Bruno Ace Regular.ttf" )}})
        }
    </style>
    <script>initialGrid = {{grid}}; initialLockMask = {{lock_mask}}</script>
    <script src={{url_for("get_static", filename="js/script.js" )}} defer></script>
</head>

<body>
    <div id="content">
        <div id="focus-content">
            <h1 class="header">SUDOKU SOLVER</h1>
            <section id="grid-and-menu">
                <div class="grid-container">
                    <ul id="grid"></ul>
                </div>
                <div class="menu-section">
                    <button class="btn btn-main-menu" id="btn-generate" onclick="">GENERATE</button>
                    <button class="btn btn-main-menu" onclick="solve()">SOLVE</button>
                    <button class="btn btn-main-menu" onclick="grid.doClearAction()" id="btn-clear">CLEAR</button>
                    <button class="btn btn-main-menu btn-square" id="btn-revert" onclick="revertGrid()">
                        <img id="svg-revert" src={{url_for("get_static", filename="img/corner-up-left.svg")}}>
                    </button>
                    <div id="gen-menu-container">
                        <div id="gen-menu" class="dropdown-menu">
                            <button class="btn menu__item" onclick="generate(0,0);">EASY</button>
                            <button class="btn menu__item" onclick="generate(4,5);">MEDIUM</button>
                            <button class="btn menu__item" onclick="generate(7,81);">HARD</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer">
            <div id="footer-content">
                <small>by</small>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/balex89/sudoku-solver-frontend"><img src={{url_for("get_static", filename="img/label.svg")}}></a>
                <small>{{version}}</small>
            </div>
        </footer>
        <div id="glyphs">
            <object class="glyph" id="glyph-left" type="image/svg+xml" data={{url_for("get_static", filename="img/glyph-left.svg")}}></object>
            <object class="glyph" id="glyph-right" type="image/svg+xml" data={{url_for("get_static", filename="img/glyph-right.svg")}}></object>
        </div>
        <div id="notify-bar">
            <div id="notify-bar__content">
                <small id="notification"></small>
            </div>
            <button id="notify-bar__button" onclick="banner.hide();" title="Hide">&#10006;</button>
        </div>
    </div>
    
    <div id="foreground">
        <object id="holderSVG" type="image/svg+xml" data={{url_for("get_static", filename="img/holder.svg")}}></object>
    </div>
    <div id="initial-foreground"></div>
</body>

</html>